In [22]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

# TASK1

In [2]:
trade=pd.read_csv("trades_file (1).csv")  #trade file
price=pd.read_csv("prices_file (1).csv")  #price file

In [3]:
trade.info()   #checking null values in trade file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1605 entries, 0 to 1604
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   time        1605 non-null   object
 1   symbol      1605 non-null   object
 2   tradeSize   1605 non-null   float64
 3   tradePrice  1605 non-null   float64
dtypes: float64(2), object(2)
memory usage: 50.3+ KB

In [4]:
price.info()    #checking null values in price file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29734 entries, 0 to 29733
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    29734 non-null  object
 1   symbol  29734 non-null  object
 2   price   29734 non-null  float64
dtypes: float64(1), object(2)
memory usage: 697.0+ KB

In [5]:
trade.columns   #checking columns name in trade file

Index(['time', 'symbol', 'tradeSize', 'tradePrice'], dtype='object')

In [6]:
price.columns   #checking columns name in trade file

Index(['time', 'symbol', 'price'], dtype='object')

In [7]:
trade["tradevalue"]=trade["tradeSize"]*trade["tradePrice"]   #adding tradevalue column,as product of tradesize and tradeprice
trade

          time      symbol  tradeSize  tradePrice  tradevalue
0     09:18:29  STOCK_4487       -1.0       22.95      -22.95
1     09:18:31  STOCK_3584        4.0       21.80       87.20
2     09:18:34  STOCK_3584       -4.0       21.65      -86.60
3     09:19:18  STOCK_4487       -2.0       19.45      -38.90
4     09:19:18  STOCK_4487       -2.0       19.45      -38.90
...        ...         ...        ...         ...         ...
1600  15:14:57  STOCK_3561       -4.0       95.05     -380.20
1601  15:14:59  STOCK_3561       -1.0       95.25      -95.25
1602  15:14:59  STOCK_3561        1.0       95.10       95.10
1603  15:14:59  STOCK_3561       -1.0       95.05      -95.05
1604  15:14:59  STOCK_3561        1.0       95.05       95.05

[1605 rows x 5 columns]

In [8]:
a=pd.DataFrame(trade.groupby("symbol")["tradeSize"].sum())  #making dataframe on basis of individual symbol group and there tradesize sum in a day
a

            tradeSize
symbol
STOCK_3177        4.0
STOCK_3228       14.0
STOCK_3439        4.0
STOCK_3561      -10.0
STOCK_3584       14.0
STOCK_3660       -4.0
STOCK_3870        2.0
STOCK_3896       32.0
STOCK_3979        2.0
STOCK_4154       24.0
STOCK_4487       -7.0
STOCK_4548      -36.0
STOCK_4783      -18.0
STOCK_4890       26.0
STOCK_4949       -2.0
STOCK_5050       46.0
STOCK_5150       10.0
STOCK_5226      -26.0
STOCK_5628       16.0
STOCK_6061       52.0

In [9]:
d=pd.DataFrame(trade.groupby("symbol")["tradevalue"].sum())  #making dataframe on basis of individual symbol group and there tradevalue sum in a day
d

            tradevalue
symbol
STOCK_3177     1443.85
STOCK_3228      130.10
STOCK_3439      797.75
STOCK_3561      862.55
STOCK_3584      -36.50
STOCK_3660        0.20
STOCK_3870     3131.95
STOCK_3896      330.90
STOCK_3979      847.15
STOCK_4154     1752.15
STOCK_4487     -218.20
STOCK_4548    -1041.60
STOCK_4783     -408.35
STOCK_4890     -437.10
STOCK_4949     -662.35
STOCK_5050       98.85
STOCK_5150      -30.35
STOCK_5226     -556.25
STOCK_5628     1800.10
STOCK_6061       55.80

In [10]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, STOCK_3177 to STOCK_6061
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tradevalue  20 non-null     float64
dtypes: float64(1)
memory usage: 320.0+ bytes

In [11]:
e=pd.merge(a,d,on="symbol",how="inner")   #making dataframe by merging above two data frame a,d on the basis of symbol and applying inner  join
e

            tradeSize  tradevalue
symbol
STOCK_3177        4.0     1443.85
STOCK_3228       14.0      130.10
STOCK_3439        4.0      797.75
STOCK_3561      -10.0      862.55
STOCK_3584       14.0      -36.50
STOCK_3660       -4.0        0.20
STOCK_3870        2.0     3131.95
STOCK_3896       32.0      330.90
STOCK_3979        2.0      847.15
STOCK_4154       24.0     1752.15
STOCK_4487       -7.0     -218.20
STOCK_4548      -36.0    -1041.60
STOCK_4783      -18.0     -408.35
STOCK_4890       26.0     -437.10
STOCK_4949       -2.0     -662.35
STOCK_5050       46.0       98.85
STOCK_5150       10.0      -30.35
STOCK_5226      -26.0     -556.25
STOCK_5628       16.0     1800.10
STOCK_6061       52.0       55.80

In [12]:
price  # price table

           time      symbol     price
0      09:16:00  STOCK_5559  2158.950
1      09:16:00  STOCK_3848  2035.325
2      09:16:00  STOCK_3940  1970.325
3      09:16:00  STOCK_3643  1864.125
4      09:16:00  STOCK_3447  1772.025
...         ...         ...       ...
29729  15:30:00  STOCK_4450  1078.400
29730  15:30:00  STOCK_3138  1172.000
29731  15:30:00  STOCK_5651  1272.000
29732  15:30:00  STOCK_5998  1372.000
29733  15:30:00  STOCK_4198  1472.000

[29734 rows x 3 columns]

In [13]:
b=pd.DataFrame(price[price['time']=="15:25:00"])  #filtering and making a dataframe where stock which are tarde after or on 15:25:00
b

           time      symbol     price
29394  15:25:00  STOCK_5559  2422.300
29395  15:25:00  STOCK_3848  2320.900
29396  15:25:00  STOCK_3940  2221.875
29397  15:25:00  STOCK_3643  2118.800
29398  15:25:00  STOCK_3447  2019.975
...         ...         ...       ...
29451  15:25:00  STOCK_4450  1079.175
29452  15:25:00  STOCK_3138  1180.000
29453  15:25:00  STOCK_5651  1267.700
29454  15:25:00  STOCK_5998  1371.175
29455  15:25:00  STOCK_4198  1456.375

[62 rows x 3 columns]

In [14]:
c = pd.merge(a, b, on=['symbol'], how='inner')   #merging dataframe a and b on basis of symbol so as to add time column in new data frame
c

        symbol  tradeSize      time    price
0   STOCK_3177        4.0  15:25:00  179.225
1   STOCK_3228       14.0  15:25:00    0.075
2   STOCK_3439        4.0  15:25:00  279.025
3   STOCK_3561      -10.0  15:25:00  120.775
4   STOCK_3584       14.0  15:25:00    0.075
5   STOCK_3660       -4.0  15:25:00    0.075
6   STOCK_3870        2.0  15:25:00   79.200
7   STOCK_3896       32.0  15:25:00    0.125
8   STOCK_3979        2.0  15:25:00  420.825
9   STOCK_4154       24.0  15:25:00    0.125
10  STOCK_4487       -7.0  15:25:00    0.075
11  STOCK_4548      -36.0  15:25:00    0.125
12  STOCK_4783      -18.0  15:25:00    0.075
13  STOCK_4890       26.0  15:25:00    0.125
14  STOCK_4949       -2.0  15:25:00    0.125
15  STOCK_5050       46.0  15:25:00    0.125
16  STOCK_5150       10.0  15:25:00    0.125
17  STOCK_5226      -26.0  15:25:00   20.800
18  STOCK_5628       16.0  15:25:00  220.400
19  STOCK_6061       52.0  15:25:00    0.075

In [15]:
c["total_trade_value"]=c["tradeSize"]*c["price"]   #adding  column as total trade value by multiplying tradeszie and price at 15:25:00
c

        symbol  tradeSize      time    price  total_trade_value
0   STOCK_3177        4.0  15:25:00  179.225            716.900
1   STOCK_3228       14.0  15:25:00    0.075              1.050
2   STOCK_3439        4.0  15:25:00  279.025           1116.100
3   STOCK_3561      -10.0  15:25:00  120.775          -1207.750
4   STOCK_3584       14.0  15:25:00    0.075              1.050
5   STOCK_3660       -4.0  15:25:00    0.075             -0.300
6   STOCK_3870        2.0  15:25:00   79.200            158.400
7   STOCK_3896       32.0  15:25:00    0.125              4.000
8   STOCK_3979        2.0  15:25:00  420.825            841.650
9   STOCK_4154       24.0  15:25:00    0.125              3.000
10  STOCK_4487       -7.0  15:25:00    0.075             -0.525
11  STOCK_4548      -36.0  15:25:00    0.125             -4.500
12  STOCK_4783      -18.0  15:25:00    0.075             -1.350
13  STOCK_4890       26.0  15:25:00    0.125              3.250
14  STOCK_4949       -2.0  15:25:00    0.125             -0.250
15  STOCK_5050       46.0  15:25:00    0.125              5.750
16  STOCK_5150       10.0  15:25:00    0.125              1.250
17  STOCK_5226      -26.0  15:25:00   20.800           -540.800
18  STOCK_5628       16.0  15:25:00  220.400           3526.400
19  STOCK_6061       52.0  15:25:00    0.075              3.900

In [16]:
f=pd.merge(c,e,on="symbol",how="inner")   #creating a new dataframe and merging them on basis of symbol 
f

,symbol,tradeSize_x,time,price,total_trade_value,tradeSize_y,tradevalue
0,STOCK_3177,4.0,15:25:00,179.225,716.900,4.0,1443.85
1,STOCK_3228,14.0,15:25:00,0.075,1.050,14.0,130.10
2,STOCK_3439,4.0,15:25:00,279.025,1116.100,4.0,797.75
3,STOCK_3561,-10.0,15:25:00,120.775,-1207.750,-10.0,862.55
4,STOCK_3584,14.0,15:25:00,0.075,1.050,14.0,-36.50
5,STOCK_3660,-4.0,15:25:00,0.075,-0.300,-4.0,0.20
6,STOCK_3870,2.0,15:25:00,79.200,158.400,2.0,3131.95
7,STOCK_3896,32.0,15:25:00,0.125,4.000,32.0,330.90
8,STOCK_3979,2.0,15:25:00,420.825,841.650,2.0,847.15
9,STOCK_4154,24.0,15:25:00,0.125,3.000,24.0,1752.15
10,STOCK_4487,-7.0,15:25:00,0.075,-0.525,-7.0,-218.20
11,STOCK_4548,-36.0,15:25:00,0.125,-4.500,-36.0,-1041.60
12,STOCK_4783,-18.0,15:25:00,0.075,-1.350,-18.0,-408.35
13,STOCK_4890,26.0,15:25:00,0.125,3.250,26.0,-437.10
14,STOCK_4949,-2.0,15:25:00,0.125,-0.250,-2.0,-662.35
15,STOCK_5050,46.0,15:25:00,0.125,5.750,46.0,98.85
16,STOCK_5150,10.0,15:25:00,0.125,1.250,10.0,-30.35
17,STOCK_5226,-26.0,15:25:00,20.800,-540.800,-26.0,-556.25
18,STOCK_5628,16.0,15:25:00,220.400,3526.400,16.0,1800.10
19,STOCK_6061,52.0,15:25:00,0.075,3.900,52.0,55.80

In [18]:
f["PNL"]=f["tradevalue"]-f["total_trade_value"]   # adding final column of PNL and if PNL>0 it means profit and if PNL<0 it means loss
f

,symbol,tradeSize_x,time,price,total_trade_value,tradeSize_y,tradevalue,PNL
0,STOCK_3177,4.0,15:25:00,179.225,716.900,4.0,1443.85,726.950
1,STOCK_3228,14.0,15:25:00,0.075,1.050,14.0,130.10,129.050
2,STOCK_3439,4.0,15:25:00,279.025,1116.100,4.0,797.75,-318.350
3,STOCK_3561,-10.0,15:25:00,120.775,-1207.750,-10.0,862.55,2070.300
4,STOCK_3584,14.0,15:25:00,0.075,1.050,14.0,-36.50,-37.550
5,STOCK_3660,-4.0,15:25:00,0.075,-0.300,-4.0,0.20,0.500
6,STOCK_3870,2.0,15:25:00,79.200,158.400,2.0,3131.95,2973.550
7,STOCK_3896,32.0,15:25:00,0.125,4.000,32.0,330.90,326.900
8,STOCK_3979,2.0,15:25:00,420.825,841.650,2.0,847.15,5.500
9,STOCK_4154,24.0,15:25:00,0.125,3.000,24.0,1752.15,1749.150
10,STOCK_4487,-7.0,15:25:00,0.075,-0.525,-7.0,-218.20,-217.675
11,STOCK_4548,-36.0,15:25:00,0.125,-4.500,-36.0,-1041.60,-1037.100
12,STOCK_4783,-18.0,15:25:00,0.075,-1.350,-18.0,-408.35,-407.000
13,STOCK_4890,26.0,15:25:00,0.125,3.250,26.0,-437.10,-440.350
14,STOCK_4949,-2.0,15:25:00,0.125,-0.250,-2.0,-662.35,-662.100
15,STOCK_5050,46.0,15:25:00,0.125,5.750,46.0,98.85,93.100
16,STOCK_5150,10.0,15:25:00,0.125,1.250,10.0,-30.35,-31.600
17,STOCK_5226,-26.0,15:25:00,20.800,-540.800,-26.0,-556.25,-15.450
18,STOCK_5628,16.0,15:25:00,220.400,3526.400,16.0,1800.10,-1726.300
19,STOCK_6061,52.0,15:25:00,0.075,3.900,52.0,55.80,51.900

In [19]:
f["L/P"]=f["tradevalue"]-f["total_trade_value"]   #adding column for showing profit and loss
for ind in f.index:
    if f['PNL'][ind]>0:
        f['L/P'][ind]="Profit"
    else:
        f['L/P'][ind]="Loss"
f

C:\Users\DOLL_N~1\AppData\Local\Temp/ipykernel_1412/543720052.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f['L/P'][ind]="Profit"
C:\Users\Doll_Nanu\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,symbol,tradeSize_x,time,price,total_trade_value,tradeSize_y,tradevalue,PNL,L/P
0,STOCK_3177,4.0,15:25:00,179.225,716.900,4.0,1443.85,726.950,Profit
1,STOCK_3228,14.0,15:25:00,0.075,1.050,14.0,130.10,129.050,Profit
2,STOCK_3439,4.0,15:25:00,279.025,1116.100,4.0,797.75,-318.350,Loss
3,STOCK_3561,-10.0,15:25:00,120.775,-1207.750,-10.0,862.55,2070.300,Profit
4,STOCK_3584,14.0,15:25:00,0.075,1.050,14.0,-36.50,-37.550,Loss
5,STOCK_3660,-4.0,15:25:00,0.075,-0.300,-4.0,0.20,0.500,Profit
6,STOCK_3870,2.0,15:25:00,79.200,158.400,2.0,3131.95,2973.550,Profit
7,STOCK_3896,32.0,15:25:00,0.125,4.000,32.0,330.90,326.900,Profit
8,STOCK_3979,2.0,15:25:00,420.825,841.650,2.0,847.15,5.500,Profit
9,STOCK_4154,24.0,15:25:00,0.125,3.000,24.0,1752.15,1749.150,Profit
10,STOCK_4487,-7.0,15:25:00,0.075,-0.525,-7.0,-218.20,-217.675,Loss
11,STOCK_4548,-36.0,15:25:00,0.125,-4.500,-36.0,-1041.60,-1037.100,Loss
12,STOCK_4783,-18.0,15:25:00,0.075,-1.350,-18.0,-408.35,-407.000,Loss
13,STOCK_4890,26.0,15:25:00,0.125,3.250,26.0,-437.10,-440.350,Loss
14,STOCK_4949,-2.0,15:25:00,0.125,-0.250,-2.0,-662.35,-662.100,Loss
15,STOCK_5050,46.0,15:25:00,0.125,5.750,46.0,98.85,93.100,Profit
16,STOCK_5150,10.0,15:25:00,0.125,1.250,10.0,-30.35,-31.600,Loss
17,STOCK_5226,-26.0,15:25:00,20.800,-540.800,-26.0,-556.25,-15.450,Loss
18,STOCK_5628,16.0,15:25:00,220.400,3526.400,16.0,1800.10,-1726.300,Loss
19,STOCK_6061,52.0,15:25:00,0.075,3.900,52.0,55.80,51.900,Profit

# TASK 2

In [20]:
print(f[f.PNL == f.PNL.max()])   #trade with maximum PNL

       symbol  tradeSize_x      time  price  total_trade_value  tradeSize_y  \
6  STOCK_3870          2.0  15:25:00   79.2              158.4          2.0

   tradevalue      PNL     L/P
6     3131.95  2973.55  Profit

In [21]:
print(f[f.PNL == f.PNL.min()])   #trade with minimum PNL

        symbol  tradeSize_x      time  price  total_trade_value  tradeSize_y  \
18  STOCK_5628         16.0  15:25:00  220.4             3526.4         16.0

    tradevalue     PNL   L/P
18      1800.1 -1726.3  Loss